<div class="ui raised segment" id="feed">
  <h3>Are you sure you want to deactivate your account?</h3>
  <p>Deactivating your account will permanently discard all posts, tags, videos, images, comments, and kudos you have submitted to the site.</p>
  <br>
  <a class="ui button" href="/destroy">
    Deactivate
  </a>
</div>
