<% if @user %>
  <div class="ui raised segment" id="feed">
    <form method="POST" action="/users/posts">
      <textarea name="text_entry" rows="8" cols="80" required></textarea>
      <textarea name="tags" rows="1" cols="80" required></textarea>
      <br>
      <button class="ui button" type="submit">
        Post
      </button>
    </form>
  </div>
  <div class="ui raised segment" id="feed">
    <% @all_posts.reverse_each do |posts| %>
      <p><%= posts.text_entry %></p>
      <p><%= posts.tag %></p>
      <div class="ui fitted divider"></div>
    <% end %>
  </div>

<% end %>
