<div class="fan-lr">
  <h1>fan-lr</h1>
</div>
<header id="login">

</header>

<br>
<div class="ui centered grid">
  <div class="four wide column">
    <h2>Login</h2>
    <form class="ui huge form" method="POST" action="/users/login">
      <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <button class="ui button" type="submit">Login</button>
    </form>
  </div>

  <div class="four wide column">
    <h2>Sign up for free!</h2>
    <form class="ui huge form" method="POST" action="/users/signup">
      <div class="required field">
        <label>First Name</label>
        <input type="text" name="first-name" placeholder="First Name" required>
      </div>
      <div class="required field">
        <label>Last Name</label>
        <input type="text" name="last-name" placeholder="Last Name" required>
      </div>
      <div class="required field">
        <label>Date of Birth</label>
        <input type="date" name="dob" required>
      </div>
      <div class="required field">
        <label>Email</label>
        <input type="text" name="signup-email" placeholder="Email" required>
      </div>
      <div class="required field">
        <label>Password</label>
        <input type="password" name="signup-password" placeholder="Password" required>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
</div>
